@import "~antd/dist/antd.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
}
:root {
  --theme: #2970ff;
  --black: #000;
  --white: #fff;
  --shadow-color: 0px 0px 30px 8px rgba(227, 227, 227, 0.75);
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
  font-family: "Montserrat", sans-serif;
}

.custom-input {
  border-width: 0;
  border-bottom-width: 1px;
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  opacity: 0.8;
}

.custom-input:focus {
  outline: none;
  opacity: 1;
  transition: all 0.2 sec;
}
